[submodule "SAP-lab-activity-01"]
	path = SAP-lab-activity-01
	url = git@github.com:muni106/SAP-lab-activity-01.git
[submodule "SAP-lab-activity-02"]
	path = SAP-lab-activity-02
	url = git@github.com:muni106/SAP-lab-activity-02.git
[submodule "ttt-game-service"]
	path = ttt-game-service
	url = git@github.com:muni106/ttt-game-service.git
[submodule "lab-activity-05"]
	path = lab-activity-05
	url = git@github.com:muni106/lab-activity-05.git
[submodule "SAP-lab-activity-06"]
	path = SAP-lab-activity-06
	url = git@github.com:muni106/SAP-lab-activity-06.git
[submodule "lab-activity-08"]
	path = lab-activity-08
	url = git@github.com:muni106/lab-activity-08.git
[submodule "lab-activity-10"]
	path = lab-activity-10
	url = git@github.com:muni106/lab-activity-10.git
